<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Hello World 2</h2>
  <h3 class='text-capitalize'>Hello World 3 test</h3>

  <hr />

  <div class='display-1 text-muted'>Hello World</div>
  <div class='display-4'>Hello World 2</div>
  <div class='display-6'>Hello World 3</div>

  <hr />
  <div class='text-end text-muted'>
    Additional<span class='display-6'> text</span>
  </div>

  <hr />

  <button class='btn btn-success'>
    Button primary
  </button>

  <a href='#' class='btn btn-warning'>
    Button
  </a>

  <hr />

  <p class='text-primary'>My text</p>
  <p class='text-secondary'>My text</p>
  <p class='text-success'>My text</p>
  <p class='text-danger'>My text</p>
  <p class='text-warning'>My text</p>

  <hr />

  <button class='btn btn-secondary'>
    Add
  </button>
  <button class='btn btn-outline-secondary'>
    Edit
  </button>
  <button class='btn btn-outline-danger'>
    Delete
  </button>
  <hr />

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-secondary btn-lg'>
        Add
      </button>
      <button class='btn btn-outline-secondary btn-sm'>
        Edit
      </button>
    </div>
  </div>
  <br />

  <button class='btn btn-secondary btn-lg'>
    Add
  </button>
  <button class='btn btn-outline-secondary btn-sm'>
    Edit
  </button>

  <hr />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>