<main class='p-5'>
  <h1>
    Hello!<i class='bi bi-emoji-smile'></i>
  </h1>

  <button class='btn btn-danger'>
    <i class='bi bi-sd-card'></i>
    <i
      class='fa-brands fa-slack fa-beat'
      style='color: #e0c306;'
    ></i>
  </button>

  <div class='m-1'>
    <img src='/svg/slack.svg' />
  </div>
</main>