<main class='p-5'>
  <section>
    <div class='card p-3 mb-5'>
      <div class='row'>
        <div class='col-10'>
          <h1>Vitalii Radchenko</h1>
        </div>
        <div class='col-2 pt-3'>
          <p>Resume project</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class='row'>
      <div class='col-6'>
        <h2 class='mb-2'>Resume project</h2>
        <p>Below you will see a list of pages where you can
          find information about me
        </p>
        <div class='card mb-2 col-4'>
          <a href='/summary' class='btn btn-primary'>Home
            page</a>
        </div>
        <div class='card mb-2 col-4'>
          <a
            href='/skills'
            class='btn btn-primary text-capitalize'
          >Skills & hobbies</a>
        </div>
        <div class='card mb-2 col-4'>
          <a
            href='/education'
            class='btn btn-primary'
          >Education</a>
        </div>
        <div class='card mb-2 col-4'>
          <a href='/work' class='btn btn-primary'>Work</a>
        </div>
      </div>
      <div class='col-6'>
        <h2 class='mb-2'>Shop project</h2>
        <p>Below you will see a list of pages where you can
          find my project shop
        </p>
        <div class='card mb-2 col-3'>
          <a href='/shophome' class='btn btn-warning'>Home
            page</a>
        </div>
        <div class='card mb-2 col-3'>
          <a href='/shoporder' class='btn btn-warning'>Order
            List</a>
        </div>
        <div class='card mb-2 col-3'>
          <a
            href='/shopcart'
            class='btn btn-warning'
          >Cart</a>
        </div>
        <div class='card mb-2 col-3'>
          <a
            href='/shopreview'
            class='btn btn-warning'
          >Review</a>
        </div>
      </div>
    </div>
  </section>
  <hr class='my-3' />
</main>