<div class='card' style='width: 25rem;'>
  <div class='card-body'>
    <h5 class='card-title'><em>Name</em>
      -
      {{name}}</h5>
    <div class='card-text'><em>ID</em> - {{id}}</div>
    <div class='card-text'><em>Gender</em>
      -
      {{gender}}</div>
    <div class='card-text'><em>Age</em>
      -
      {{age}}</div>
  </div>
</div>