{{#with data}}
  <section class='mb-3'>
    <div class='form-label'>{{label}}</div>
    <input
      class='form-control form-control'
      placeholder='{{placeholder}}'
    />
    <div class='form-text'>{{caption}}</div>
  </section>
{{/with}}