{{#with navigation}}
  <div class='card mb-3'>
    <div class='nav py-2'>
      {{#each links}}
        <a
          href='{{href}}'
          class='btn nav-link nav-item'
          target='_blank'
        >{{text}}</a>
      {{/each}}
      <a class='nav-link disabled'>Disabled</a>
    </div>
  </div>
{{/with}}